.game{
    width: -webkit-fill-available;
    margin: 1em;
}

.gameContainer{
    position: relative;
    background-color: #df8d15;
    padding: 1em;
    box-shadow: #000 0.5em 0.5em; 
    border-radius: 25px;
    display: grid;
    justify-content: center;
    margin: 0;
    text-shadow: #000 0.1em 0.1em, #000 -0.05em -0.05em, #000 -0.05em 0.1em, #000 0.1em -0.05em;
    color: #ad721a;
}
.game h1{
    font-size: 2.5em;
}

.points span{
    font-weight: bold;
}

.upper{
    margin: 1em 4em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1em;
}
  
.upperLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 1em;
}

.pointsAndTries{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.pointsContainer{
    width: -webkit-fill-available;
    align-items: center;
    margin-right: 0.75em;
}

.points{
    font-size: large;
}

.sidePadding{
    padding-left: 1em;
    padding-right: 1em;
}

.guessTheWord{
    font-size: 2.5em;
}

.tip{
    font-size: 2.5em;
}

.middle{
    margin: 1em 4em;
    border: 0.5em solid #000;
    border-radius: 1.5em;
    background-color: #fff;
}

.wordContainer{
    margin: 0.5em;
    padding: 1.5em;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #df8d15;
}

.letter, .blankSquare{
    font-size: 4em;
    line-height: 1.5;
    border-radius: 0.25em;
    height: 1.25em;
    width: 2em;
    margin: 0.05em;
    text-transform: uppercase;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lower{
    margin: 0 4em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.letterContainer p{
    margin-bottom: 1.2em;
}

.letterContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.letterContainer input {
    height: 1.5em;
    width: 1.5em;
    font-size: 2em;
    text-align: center;
    margin-right: 1em;
    border-radius: 0.25em;
  }

.highlight{
    color: #ecfa00;
    /* color: #0923af; */
}

@media (max-width: 1080px ){

    .game{
        font-size: 0.75em;
    }
    .letterContainer{
        font-size: 1.25em;
    }
    .upper{
        gap: 0.75em;
    }
}

@media (max-width: 768px ){

    .game{
        font-size: 0.5em;
    }
    .upper{
        gap: 0.75em;
    }
}

@media(max-height:500px){
    .gameContainer{
        font-size: 0.75em;
    }
}
