.start p {
    margin-bottom: 2em;
    color: #fff;
    text-shadow: #000 0.1em 0.1em, #000 -0.05em -0.05em, #000 -0.05em 0.1em, #000 0.1em -0.05em;
}

.start input {
    background: transparent;
    border: 0;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    color: white;
    display: block;
    font-size: 1.25em;
    outline: none !important;
    opacity: .75;
    margin: 1em auto;
    padding: 0.5em;
    text-align: center;
}
.start input::placeholder {
    color: #fff;
    opacity: .75;
    font-family: url('../styles/arco_for_osx-webfont.woff');
}
.start input:focus {
    opacity: 1;
}

.lower{
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}


@media (max-width:768px) {

    .start {
        width: 80%;
    }

    .start input {
        width: 100%;
    }

    .lower {
        flex-direction: column;
    }
    
}

